@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine;

<h2>Add the engineer to the following Machine</h2>

<h3>@Html.DisplayFor(model => model.MachineName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back", "Index")</p>